/* Paleta de colores */
:root {
    --color-fondo: #ffffff;
    --color-principal: #84dcc6;
    --color-secundario: #a5ffd6;
    --color-terciario: #ffa69e;
    --color-acento: #ff686b;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

header {
    background-color: var(--color-acento);
    color: var(--color-fondo);
    padding: 10px 0;
    text-align: center;
}

main {
    text-align: center;
    padding: 20px;
}

.calculator-container {
    background-color: var(--color-secundario);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    display: table; /* Para centrar la tabla */
}

.calculator-table {
    width: 100%;
    border-collapse: collapse;
}

.calculator-table td {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-acento);
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-acento);
    color: var(--color-fondo);
    border-radius: 4px;
}

.link-container {
    margin-top: 20px;
    text-align: center;
}

.link-container a {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}

.link-container a:hover {
    text-decoration: underline;
}
